{% extends 'base.html.twig' %}

{% block body %}

    <div class="text-center"><img src="{{ asset('img/ccmlogo200x100.png') }}"> </div>
    <h2 class="text-secondary mb-4">Consulta</h2>
    <h4 class="mb-4">{{ academico.titulo }} {{ academico.nombre }} {{ academico.apellido }}</h4>

    <p><a href="{{ path('respuesta_index') }}">Ver los resultados de la encuesta.</a></p>

    {{ academico.respuesta }}

    {{ form_start(form) }}


    <div class="form-group mb-5">
        <p class="lead">¿Está usted de acuerdo con la transformación del Centro de Ciencias Matemáticas en un Instituto?</p>
        {% for child in form.respuesta %}
            <div class="form-check form-check-inline">
                {{ form_widget(child, {'attr': {'class': 'form-check-input'}}) }}
                {{ form_label(child, null, {'label_attr': {'class': 'form-check-label'}}) }}
            </div>
        {% endfor %}
    </div>
    <div class="alert alert-info lead">
        <ul>
            <li>Además de votar puede escribir sus observaciones en el siguiente campo.</li>
            <li>No es obligatorio escribir un comentario.</li>
            <li>Los comentarios se mostrarán de forma anónima</li>
        </ul>
    </div>
    <div class="form-group">
        <p class="lead">Comentarios</p>
         {{ form_widget(form.comentarios, {'attr': {'class': 'form-control' ,'placeholder':'Comentarios','rows':'6'} } ) }}
        <div class="text-danger">{{ form_errors(form.comentarios) }}</div>
    </div>

    <input type="submit" value="Enviar" class="btn btn-success btn-outline my-4"/>

    {{ form_end(form) }}


{% endblock %}
