{% extends 'base.html.twig' %}

{% block body %}

    <h2 class="mt-5">Académicos</h2>
    <h3>{{ iteraciones }} Registros modificados</h3>
    <table class="table table-condensed my-5">
    {% for academico in academicos %}


        <tr>
            <td>
                {{ academico.nombre }} {{ academico.apellido }}
            </td>
            <td>
                <a href="{{ path('respuesta_new', {'slug': academico.slug, 'token': academico.token}) }}">respuesta/{{ academico.slug }}{{ academico.token }}/new</a>
            </td></tr>
    {%  endfor %}
    </table>

{% endblock %}